body {
  background-color: #e8e8e8;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  padding: 167px 0px 0px 0px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  color: rgba(39, 61, 70, 0.5);
  text-align: center;
  margin-bottom: 15px;
}

.title {
  color: rgba(39, 61, 70, 0.9);
  font-size: 35px;
  text-align: center;
}

.block__list {
  opacity: 0;
  position: relative;
  text-align: center;
}

.block__item-1 {
  border: 10px solid #fff;
  margin-top: 50px;
  width: 821px;
  height: 541px;
}

.block__item-2 {
  width: 2000px;
  height: 2000px;
  position: absolute;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  top: 0;
  left: 0;
  z-index: -1;
}

.block__list:active {
  opacity: 1;
  width: 100%;
}

.text {
  color: rgba(39, 61, 70, 0.7);
  text-align: top left;
}

.text__par {
  font-size: 20px;
  margin: 35px 0px 0px 50px;
}

.list {
  margin: 35px 0px 0px 50px;
}

.list li {
  font-size: 18px;
  margin: 0px 0px 15px 0px;
  background: url("img/check icon.png") left no-repeat;
  padding: 0px 0px 0px 30px;
}

.list li:first-child {
  color: #273d46;
  font-weight: 300;
}

.list li:nth-child(2) {
  font-style: italic;
  color: #80b7b3;
}

.list li:nth-child(3) {
  font-weight: 500;
}

.list li:last-child {
  color: rgba(39, 61, 70, 0.3);
  text-decoration: line-through;
}

button {
  background-color: #80b7b3;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  -webkit-box-shadow: 5px 10px 15px #80b7b3;
          box-shadow: 5px 10px 15px #80b7b3;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 50px 0px 0px 50px;
}

.img2 {
  display: none;
}

button:hover {
  background-color: #fff;
  color: #80b7b3;
}

button:hover .img1 {
  display: none;
}

button:hover .img2 {
  display: inline-block;
}
